.DS_Store
.coverage
*.EGG
*.EGG-INFO
*.egg-info
*.log
*.mo
*.swp
*.egg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
src/*
dist/*
test.plone_addon/
var/
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
__pycache__/
build/
downloads/
fake-eggs/
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective
/.coverage.*
