language: python
python: 2.7
env:
  - TARGET=test
  - TARGET=coverage.sh
  - TARGET=python-validation.sh
#  - TARGET=css-validation.sh
#  - TARGET=js-validation.sh
#before_install:
#  - sudo apt-get install ack-grep
#  - sudo apt-add-repository ppa:chris-lea/node.js -y
#  - sudo apt-get update 1>/dev/null
#  - sudo apt-get install nodejs npm -y
# csslint
#  - npm install csslint -g
# jshint
#  - npm install jshint -g
before_script:
# robotframework or selenium
#  - export DISPLAY=:99.0
# Avoid errors, eg: Cannot find module 'jslint'
#  - export NODE_PATH=/usr/local/lib/node_modules
#  - sh -e /etc/init.d/xvfb start
install: 
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - python bootstrap.py -c travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg install download install
  - bin/buildout -N -t 3 -c travis.cfg
script: bin/$TARGET
